[submodule "googletest"]
	path = 3rdParty/googletest
	url = https://github.com/hor63/googletest.git
[submodule "3rdParty/apache/log4cxx"]
	path = 3rdParty/apache/log4cxx
	url = https://github.com/hor63/logging-log4cxx.git
[submodule "3rdParty/apache/apr"]
	path = 3rdParty/apache/apr
	url = https://github.com/hor63/apr.git
[submodule "3rdParty/apache/apr-util"]
	path = 3rdParty/apache/apr-util
	url = https://github.com/hor63/apr-util.git
[submodule "3rdParty/eigen"]
	path = 3rdParty/eigen
	url = https://github.com/hor63/eigen-git-mirror.git
[submodule "3rdParty/Properties4CXX"]
	path = 3rdParty/Properties4CXX
	url = https://github.com/hor63/Properties4CXX.git
